html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}
header{
  width: 100%;
  height: 6rem;
}
header nav{
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right-section{
  width: 25rem;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a{
  margin-right: 1rem;
  color: black;
}
nav .nav-right-section .menu-icon{
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 2.5rem;
  height: 2.5rem;
}
nav .nav-right-section img{
  border-radius: 50%;
  margin-left: 1rem;
}
main{
  margin-top: 15rem;
  text-align: center;
}
main .main-logo{
  width: 53rem;
  margin: 0 auto;
  margin-bottom: 3.5rem;
}
main .main-logo img{
  width: 27.2rem;
  height: 9.2rem;
}