html{
  font-size: 62.5%;
}
body{
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}
a{
  text-decoration: none;
  cursor: pointer;
}
header{
  width: 100%;
  height: 6rem;
}
header nav{
  display: flex;
  justify-content: flex-end;
}
header nav .nav-right-section{
  width: 25rem;
  height: auto;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
nav .nav-right-section a{
  margin-right: 1rem;
  color: black;
}